.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header p {
  margin-top: -10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*******菜单********/
.btn-menu{
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  outline: none;
}

.btn-menu-open{
  animation: 0.7s open-menu forwards;
}

.btn-menu-close{
  animation: 0.7s close-menu forwards;
}

.btn:hover{
  background-color: #c7bbbb94
}

.btn-circle{
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100px;
  padding: 0px 0px 0px 0px
}

.btn-block{
  display: block;
}

/*****信息展示面板*******/
.info-panel{
  padding: 10px;
  border: 2px solid #c7bbbb94;
  border-radius: 5px;
  max-width: 90%;
}

.info-panel-active{
  animation: 3s active-border infinite;
}

/*******导航菜单*******/
.header-list{
  border-radius: 2px;
  width: 180px;
  position: fixed;
  top: 80px;
  right: 30px;
  background-color: white;
  padding: 0;
  z-index: 999;
}

.header-list a{
  text-decoration: none;
}

.list-item{
  padding: 20px;
  display: block;
  text-align: center;
  font-size: larger;
  color: black;
  border-bottom: 1px solid #c7bbbb94;
  border-top: 1px solid #c7bbbb94;
}

.list-item:hover{
  background-color: #c7bbbb94;
}


@keyframes active-border {
  0% { border: 2px solid #7dde71; }
  25% { border: 2px solid #4caf50; }
  50% { border: 2px solid #7dde71; }
  75% { border: 2px solid #4caf50; }
  100% { border: 2px solid #7dde71; }
}

@keyframes open-menu{
  from {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
    -moz-transform:rotate(0deg); 	/* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg); 	/* Opera */
  }
  to {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
    }
}

@keyframes close-menu{
  from {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
    }
  to {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
    -moz-transform:rotate(0deg); 	/* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg); 	/* Opera */
  }
}